# Ignore sensitive files
appsettings.json
appsettings.Development.json
secrets.json

# Ignore build and compiled files
bin/
obj/
*.exe
*.dll
*.pdb

# Ignore user-specific files
.vs/
.vscode/
*.user
*.suo

# Ignore dependency files
node_modules/
packages/

# Ignore logs and temp files
logs/
*.log
*.tmp
*.cache
*.lock



# Dependencies
packages/